{% load static %}
<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}WhatchaReadN{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    {% block head %}
    {% endblock %}
  </head>

  <body>


    <div class="container">
    <header class="header">
      <h1 class="logo">WhatchaReadN</h1>

      <input type="checkbox" id="nav-toggle" class="nav-toggle">

        <nav>
          <ul>
            <li><a href="{% url 'main:index' %}">Home</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'main:library' %}">Library</a></li>
            <li><a href="#">Have Read</a></li>
            <li><a href="#">Wish List</a></li>
            {% endif %}
            <li><a href="{% url 'main:search' %}">Search</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'users:logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'users:login'%}">Login</a></li>
            {% endif %}
          </ul>

          <div class="sidenav">
          <hr>

          <h3>Sidebar Dropdown</h3>

            <ul>
              <li><a href="#">these</a></li>
              <li><a href="#">could</a></li>
              <li><a href="#">be</a></li>
              <li><a href="#">links</a></li>
              <li><a href="#">to</a></li>
              <li><a href="#">something</a></li>
              <li><a href="#">useful</a></li>
            </ul>
          </div>

        </nav>
            {% if user.is_authenticated %}
            <p>Welcome, {{ user.username }}</p>
            {% endif %}
        <label for="nav-toggle" class="nav-toggle-label">
          <span></span>
        </label>
    </header>

          <div class="sidebar">
            <h3>Sidebar</h3>
            <ul>
              <li><a href="{% url 'main:search' %}">Search</a></li>
              <li><a href="#">these</a></li>
              <li><a href="#">could</a></li>
              <li><a href="#">be</a></li>
              <li><a href="#">links</a></li>
              <li><a href="#">to</a></li>
              <li><a href="#">something</a></li>
              <li><a href="#">useful</a></li>
            </ul>
          </div>

      <div class="main">

        {% if messages %}
          {% for message in messages %}
          <p> {{ message }}</p>
          {% endfor%}
        {% endif%}

        {% block content %}{% endblock %}
      </div>
      <div class="footer">
        <p>Footer Area</p>
      </div>
    </div>
    {% block js %}
    {% endblock %}
    
  </body>

</html>

