
{% extends "base.html" %}

{% block head %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block content %}

<h1>My Libraryn</h1>

{% for book in library %}
<div class="card" id="book{{ book.googleid }}">
    <div class="card-img-box">
      <img src="{{book.image_link}}" />
    </div>
    <div class="card-body">
      <h2 class="card-title">{{book.title}}</h2>
      {% if "," in book.authors  %}
      <p>Authors: {{book.authors}}</p>
      {% else %}
      <p>Author: {{book.authors}}</p>
      {% endif %}
      {% csrf_token %}
      <button class="del-btn" butt-id="{{ book.googleid }}">Delete</button>
      <button class="info-btn" info-id="{{ book.googleid }}">Info</button>
      
    </div>
  </div>
{% endfor %}

{% for volume in booksdetails %}
<div id="volume{{ volume.id }}" class="detail-card">
  <img src="{{ volume.volumeInfo.imageLinks.thumbnail }}" alt="">
  <div class="detail-card-title">{{ volume.volumeInfo.title }}</div>
  <div class="detail-card-author">
    {% for author in volume.volumeInfo.authors %}
    <div>{{ author }}</div>
    {% endfor%}
  </div>
  <p class="detail-card-description">{{ volume.volumeInfo.description | safe }}</p>
  <div class="detail-card-publishdate">{{ volume.volumeInfo.publishedDate }}</div>
</div>
{% endfor %}

{% endblock%}

{% block js %}
<script>
  $('.info-btn').click(function(){
    var infoid;
    var volumeid;
    infobtnid = $(this).attr("info-id");
    volumeid = 'volume' + infobtnid;
    console.log(volumeid);
    document.getElementById(volumeid).style.display = "block";
    const collection = document.getElementsByClassName("card");
    for (let i = 0; i < collection.length; i++) {
      collection[i].style.display = "none";
    }
  });
</script>
<script>
$('.del-btn').click(function(e){
  e.preventDefault();
  var buttid;
  buttid = $(this).attr("butt-id");

    $.ajax({
        type:'POST',
        url :'{% url 'main:delete' %}',
        data:{
            buttid: buttid,
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
        },
        success: function(html){
            document.getElementById('book' + buttid).remove();
        },
    });

});
</script>
{% endblock %}
