{% extends "base.html" %}
{% load static %}

{% block head %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block content %}

<div class="page-body">
  <div class="library-header">
    <h1>My Library</h1>
    
    <label for="select-shelf">Shelf</label>  
      {% csrf_token %}
    <select id="select-shelf" class="select-shelf" name="select-shelf" onchange="getShelf()">
      <option value="All">All</option>
      {% for shelf in shelves %}
      <option value="{{ shelf }}">{{ shelf }}</option>
      {% endfor%}
    </select>

    <button id="ed-shel-btn" onclick="showEditCard()">Edit Shelves</button>
  </div>
  
  
  <div id="library-body">
    <!--
  {% for book in library %}
  <div class="card" id="book{{ book.googleid }}">
  
    <a id="card-link" class="detail-btn" btn-id="{{ book.googleid }}" href="#">
      <div class="card-img-box">
        <img src="{{book.image_link}}" />
      </div>
    </a>
 
      <div class="card-body">
        <h3 class="card-title">{{book.title}}</h3>
        <div class="button-row">
          <label for="book-shelf">Shelf</label>
          {% csrf_token %}
          <select id="book-shelf{{ book.googleid }}" class="book-shelf" googleid="{{ book.googleid }}" name="book-shelf" onchange="getShelf()">
            <option value="{{book.shelf}}" selected>{{book.shelf}}</option>
            {% for shelf in shelves %}
            <option value="{{ shelf }}">{{ shelf }}</option>
            {% endfor%}
          </select>


          <button class="read-btn" butt-id="{{ book.googleid }}">Read Book</button>
          <button class="del-btn" butt-id="{{ book.googleid }}">Delete Book</button>
        </div>
      </div>
  </div>
  {% endfor %}
    -->
  </div>
</div>

<div id="modal" class="modal">
  <div id="detail-card" >
    <img id="detail-card-img" src="#" alt="">
    <div class="detail-card-info">
      <div id="detail-card-title"></div>
      <div id="detail-card-authors"></div>
      <div id="detail-card-publisher"></div>
      <div id="detail-card-pubdate"></div>
      <div id="detail-card-isbns"></div>
      <button class="back-btn">X</button>
    </div>
    <div id="detail-card-description"></div>
  </div>
</div>

<div id="edit-shelf" class="modal">
  <div class="edit-shelf-card">
    <input type="text" id="new-shelf-name" placeholder="Name of new shelf">
    <button id="add-new-shelf" class="new-shel-btn" onclick="createShelf()">Create Shelf</button>
    <select id="del-shel-sel" name="del-shel-sel" onchange="showDelete()">
      <option value="" disabled selected>Choose a shelf to delete</option>
      {% for shelf in shelves %}
      {% if shelf.name != "Not on Shelf" %}
      <option value="{{shelf.name}}">{{shelf.name}}</option>
      {% endif %}
      {% endfor %}
    </select>
    <button id="del-shel-btn" onclick="deleteShelf()">Delete</button>
    <button class="close-ed-shel" onclick="hideEditCard()">X</button>
  </div>
</div>

{% endblock%}

{% block js %}
  <script src="{% static 'js/library.js' %}"></script>
{% endblock %}
