
{% extends "base.html" %}

{% block head %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block content %}

<h1>My Libraryn</h1>

<div id="library-body">
{% for book in library %}
<div class="card" id="book{{ book.googleid }}">

  <a id="card-link" class="detail-btn" btn-id="{{ book.googleid }}" href="#">
    <div class="card-img-box">
      <img src="{{book.image_link}}" />
    </div>
  </a>

    <div class="card-body">
      <h2 class="card-title">{{book.title}}</h2>
      {% if "," in book.authors  %}
      <p>Authors: {{book.authors}}</p>
      {% else %}
      <p>Author: {{book.authors}}</p>
      {% endif %}
      {% csrf_token %}
      <button class="del-btn" butt-id="{{ book.googleid }}">Delete</button>
      <button class="info-btn" info-id="{{ book.googleid }}">Info</button>
      
    </div>
  </div>
{% endfor %}
</div>

<div id="detail-card" >
  <img id="detail-card-img" src="#" alt="">
  <div id="detail-card-title"></div>
  <div id="detail-card-description"></div>
  <button class="back-btn">X</button>
  
</div>

{% endblock%}

{% block js %}

<script>
  $('.back-btn').click(function(){
    document.getElementById('detail-card').style.display = "none";
    document.getElementById('library-body').style.display = "block";

  });
</script>

<!--Info button appends book info to html elements-->
<script>
  $('.detail-btn').click(function(e){
    e.preventDefault();
    var btnid;
    btnid = $(this).attr("btn-id");

    $.ajax({
      type: 'POST',
      url: '{% url 'main:detail' %}',
      data:{
        btnid: btnid,
        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
      },
      success: function(response){
        //console.log(response);

        document.getElementById('detail-card-title').innerHTML = response.title;
        document.getElementById('detail-card-img').src = response.image_link;
        document.getElementById('detail-card-description').innerHTML = response.description;
        document.getElementById('detail-card').style.display = "grid";
        document.getElementById('library-body').style.display = "none";
        

      },
    });

  });
</script>

<!-- <script>
  $('.info-btn').click(function(){
    var infoid;
    var volumeid;
    infobtnid = $(this).attr("info-id");
    volumeid = 'volume' + infobtnid;
    console.log(volumeid);
    document.getElementById(volumeid).style.display = "block";
    const collection = document.getElementsByClassName("card");
    for (let i = 0; i < collection.length; i++) {
      collection[i].style.display = "none";
    }
  });
</script> -->
<script>
$('.del-btn').click(function(e){
  e.preventDefault();
  var buttid;
  buttid = $(this).attr("butt-id");

    $.ajax({
        type:'POST',
        url :'{% url 'main:delete' %}',
        data:{
            buttid: buttid,
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
        },
        success: function(html){
            document.getElementById('book' + buttid).remove();
        },
    });

});
</script>
{% endblock %}
