{% extends "base.html" %}

GoogleBooksAPI Key: AIzaSyArFMXNcONVP1TUkIcZ32GNHbZ8xffQSnY

{% block content %}

<div class="searchContainer">

<form method=POST action="{% url 'main:search' %}">
  {% csrf_token %}
  <input type="search" placeholder="Search for Books by Title" aria-label="Search" name="titleSearch">
  <button type="submit" name="titlebtn">Search</button>
</form>

<form method=POST action="{% url 'main:search' %}">
  {% csrf_token %}
  <input type="search" placeholder="Search for Books by Author" aria-label="Search" name="authorSearch">
  <button type="submit" name="authorbtn">Search</button>
</form>

<form method=POST action="{% url 'main:search' %}">
  {% csrf_token %}
  <input type="search" placeholder="Search for Books by GoogleID" aria-label="Search" name="googleidSearch">
  <button type="submit" name="googleidbtn">Search</button>
</form>
</div>

{% if stuff %}
{% for i in stuff.items %}


  <div class="card">
    <div class="card-img-box">
      <img src="{{ i.volumeInfo.imageLinks.thumbnail }}" />
    </div>
    <div class="card-body">
      <h1 class="card-title">{{i.volumeInfo.title}}</h1>
          {{ i.volumeInfo.title }}
        {% for si in i.volumeInfo.industryIdentifiers %}
        {% if si.type == "ISBN_10" %}
        <p>ISBN_10: {{ si.identifier }}</p>
        {% endif %}
        {% if si.type == "ISBN_13" %}
        <p>ISBN_13: {{ si.identifier }}</p>
        {% endif %}
        {% endfor %}
      <form action="http://google.com">
        <input type="submit" value="Add to Library" />
      </form>
    </div>
  </div>

{% endfor %}
{% endif%}

  <div class="card">
    <div class="card-img-box">
      <img src="{{ stuffs.volumeInfo.imageLinks.thumbnail }}" />
    </div>
    <div class="card-body">
      <h1 class="card-title">{{stuffs.volumeInfo.title}}</h1>
          {{ stuffs.volumeInfo.title }}
        {% for si in stuffs.volumeInfo.industryIdentifiers %}
        {% if si.type == "ISBN_10" %}
        <p>ISBN_10: {{ si.identifier }}</p>
        {% endif %}
        {% if si.type == "ISBN_13" %}
        <p>ISBN_13: {{ si.identifier }}</p>
        {% endif %}
        {% endfor %}
      <form>
        {% csrf_token %}
        <button>Add to Library</button>
      </form>
    </div>
  </div>

{% endblock %}
