{% extends "base.html" %}

{% block head %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}


{% block content %}

<h1>Test Page</h1>

{% csrf_token %}
<button btn-id="xAvzDQAAQBAJ" class="detail-btn">Book Info</button>

<div id="library-body">
</div>
  <img id="lib-img" src="" alt="">

{% endblock %}


{% block js %}

<!--Info button appends book info to html elements-->
<script>
  $('.detail-btn').click(function(e){
    e.preventDefault();
    var btnid;
    btnid = $(this).attr("btn-id");

    $.ajax({
      type: 'POST',
      url: '{% url 'main:detail' %}',
      data:{
        btnid: btnid,
        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
      },
      success: function(response){
        //console.log(response);

        document.getElementById('library-body').innerHTML = response.title;
        document.getElementById('lib-img').src = response.image_link;
        

      },
    });

  });
</script>

{% endblock %}
